services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak_bda
    environment:
      - KC_DB=dev-file
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    command: start-dev
    ports:
      - "8081:8080"
    volumes:
        - ./keycloak/data:/opt/keycloak/data
    restart: unless-stopped 
