services:
  db_envios:
    image: postgres:16-alpine
    container_name: db_envios
    restart: always
    environment:
      POSTGRES_DB: envios_db
      POSTGRES_USER: envios
      POSTGRES_PASSWORD: envios
    ports:
      - "6437:5432"
    volumes:
      - ./envios_db:/var/lib/postgresql/data
