spring:
    application:
        name: gateway

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8081/realms/TPI-Backend

    cloud:
        gateway:
            routes:
                - id: ejemplo-publico
                  uri: https://postman-echo.com
                  predicates:
                      - Path=/publico/**
                  filters:
                      - RewritePath=/publico/(?<segment>.*), /${segment}

                - id: ejemplo-protegido
                  uri: https://postman-echo.com
                  predicates:
                      - Path=/protegido-usuarios/**
                  filters:
                      - RewritePath=/protegido-usuarios/(?<segment>.*), /${segment}

                - id: ms-usuarios
                  uri: http://localhost:8090
                  predicates:
                      - Path=/api/usuarios/**
                  filters:
                      - RewritePath=/api/usuarios/(?<segment>.*), /api/usuarios/${segment}
server:
    port: 8082
    uri:
        usuarios: http://localhost:8090
        echo: https://postman-echo.com

logging:
    level:
        org.springframework.cloud.gateway: DEBUG
