spring:
    application:
        name: gateway

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8081/realms/TPI-Backend
            client:
                provider:
                    keycloak:
                        token-uri: http://localhost:8081/realms/TPI-Backend/protocol/openid-connect/token
                registration:
                    keycloak:
                        client-id: tpi-backend-client
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/api/login/oauth2/code/keycloak"
                        scope: openid, profile, email

    cloud:
        gateway:
            # Propiedades actualizadas para eliminar el WARN
            server:
                webflux:
                    routes:
                        - id: ms-usuarios
                          uri: http://localhost:8090
                          predicates:
                              - Path=/gateway/usuarios/**
                          filters:
                              - RewritePath=/gateway/usuarios/(?<segment>.*), /api/usuarios/${segment}
                        - id: ms-contenedores
                          uri: http://localhost:8091
                          predicates:
                              - Path=/gateway/contenedores/**
                          filters:
                              - RewritePath=/gateway/contenedores/(?<segment>.*), /api/contenedores/${segment}

                        # --- RUTAS AÑADIDAS ---
                        - id: ms-tramos
                          uri: http://localhost:8092
                          predicates:
                              - Path=/gateway/tramos/**
                          filters:
                              - RewritePath=/gateway/tramos/(?<segment>.*), /api/tramos/${segment}
                        - id: ms-camiones
                          uri: http://localhost:8093
                          predicates:
                              - Path=/gateway/camiones/**
                          filters:
                              - RewritePath=/gateway/camiones/(?<segment>.*), /api/camiones/${segment}
                        - id: ms-ubicaciones
                          uri: http://localhost:8094
                          predicates:
                              - Path=/gateway/ubicaciones/**
                          filters:
                              - RewritePath=/gateway/ubicaciones/(?<segment>.*), /api/ubicaciones/${segment}
                        - id: ms-envios
                          uri: http://localhost:8095
                          predicates:
                              - Path=/gateway/envios/**
                          filters:
                              - RewritePath=/gateway/envios/(?<segment>.*), /api/envios/${segment}

server:
    port: 8082
    uri:
        usuarios: http://localhost:8090
        contenedores: http://localhost:8091
        tramos: http://localhost:8092
        camiones: http://localhost:8093
        ubicaciones: http://localhost:8094
        envios: http://localhost:8095

logging:
    # 1. Le dice a Spring que use el archivo XML
    config: classpath:logback-spring.xml

    # 2. Define los niveles
    level:
        root: INFO
        backend.grupo130: DEBUG # O el nivel que quieras para tu código
        org.springframework: INFO
        org.hibernate: WARN

