spring:
    application:
        name: gateway

    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8081/realms/TPI-Backend
            client:
                provider:
                    keycloak:
                        token-uri: http://localhost:8081/realms/TPI-Backend/protocol/openid-connect/token
                registration:
                    keycloak:
                        client-id: tpi-backend-client
                        authorization-grant-type: authorization_code
                        redirect-uri: "{baseUrl}/gateway/login/oauth2/code/keycloak"

    cloud:
        gateway:
            routes:
                - id: ms-usuarios
                  uri: http://localhost:8090
                  predicates:
                      - Path=/gateway/usuarios/**
                  filters:
                      - RewritePath=/gateway/usuarios/(?<segment>.*), /api/usuarios/${segment}
                -   id: ms-contenedores
                    uri: http://localhost:8091
                    predicates:
                        - Path=/gateway/contenedores/**
                    filters:
                        - RewritePath=/gateway/contenedores/(?<segment>.*), /api/contenedores/${segment}

server:
    port: 8082
    uri:
        usuarios: http://localhost:8090
        contenedores: http://localhost:8091
        tramos: http://localhost:8092
        camiones: http://localhost:8093
        ubicaciones: http://localhost:8094
        envios: http://localhost:8095
logging:
    level:
        org.springframework.cloud.gateway: DEBUG
