spring:
    application:
        name: usuarios
    datasource:
        url: jdbc:postgresql://localhost:6432/usuarios_db
        username: usuarios
        password: usuarios
        driver-class-name: org.postgresql.Driver
    jpa:
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
    cloud:
        openfeign:
            httpclient:
                hc5:
                    enabled: true

keycloak:
    server-url: http://localhost:8080
    realm: TPI-Backend
    client-id: usuarios-ms
    client-secret: z7wA4QiRm1vteC2uPFXIVjVfnLbi7BDG

server:
    port: 8090

springdoc:
    swagger-ui:
        path: /swagger-ui.html

logging:
    config: classpath:logback-spring.xml

    level:
        root: INFO
        backend.grupo130: DEBUG
        org.springframework: INFO
        org.hibernate: WARN

management:
    tracing:
        sampling:
            probability: 1.0
